
body {
	color: #666;
	font-family: arial, sans-serif;
	font-size: 16px;
}

#wrapper {
	padding: 30px;
}

#mainLeft, #mainRight {
	float: left;
	width: 50%;
}

#newDataContainer {
	padding: 20px;
}

#newDataContainer textarea {
	border: 1px solid #ccc;
	height: 200px;
	width: 500px;
}

#navigation {
	padding: 20px;
}

ul li.dir {
	padding-left: 10px;	
}

ul li.file {
	padding-left: 20px;	
}